body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:494px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u98_div {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u98 {
  position:absolute;
  left:77px;
  top:20px;
  width:339px;
  height:74px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  white-space:nowrap;
}
#u100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u100 {
  position:absolute;
  left:83px;
  top:170px;
  width:101px;
  height:24px;
  font-size:20px;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u102 {
  position:absolute;
  left:194px;
  top:170px;
  width:300px;
  height:25px;
}
#u102_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:52px;
  background:inherit;
  background-color:rgba(51, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u103 {
  position:absolute;
  left:194px;
  top:243px;
  width:139px;
  height:52px;
}
#u104 {
  position:absolute;
  left:2px;
  top:18px;
  width:135px;
  word-wrap:break-word;
}
